[*]
# Enforces a single empty line at the very end of the file
insert_final_newline = true

[*.cs]
# Braces on the same line (K&R style)
csharp_brace_style = end_of_line
csharp_new_line_before_open_brace = none

# Keep 'catch' and 'finally' on the same line as the closing '}'
csharp_new_line_before_catch = none
csharp_new_line_before_finally = none

# Keep 'else' on the same line as the closing '}'
csharp_new_line_before_else = none

# Keep 'while' (in do-while loops) on the same line as the closing '}'
csharp_new_line_before_while = none

# Disables placing attributes on the same line as the property
resharper_csharp_place_attribute_on_same_line = never
