root = true

[*]
# Enforces a single empty line at the very end of the file
insert_final_newline = true

[*.cs]
# Braces on the same line (K&R style)
csharp_brace_style = end_of_line
csharp_new_line_before_open_brace = none

# Keep 'catch' and 'finally' on the same line as the closing '}'
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

# Keep 'else' on the same line as the closing '}'
csharp_new_line_before_else = false

# Keep 'while' (in do-while loops) on the same line as the closing '}'
csharp_new_line_before_while = false

# Disables placing attributes on the same line as the property
resharper_csharp_place_attribute_on_same_line = never

# Flags empty class bodies (e.g., class MyClass { }) as a warning
resharper_redundant_type_declaration_body_highlighting = warning

# Enforce braces for all control blocks
# Force a wrap if an attribute is present
csharp_braces_for_ifelse = required
csharp_braces_for_for = required
csharp_braces_for_foreach = required
csharp_braces_for_while = required
csharp_braces_for_dowhile = required
csharp_braces_for_fixed = required

# Disable automatic reordering of fields and methods
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
