name: picturebot
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1
environment:
  sdk: ^3.8.1
dependencies:
  fluent_ui: ^4.13.0
  path_provider: ^2.1.5
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  http: ^1.1.0
  intl: ^0.20.2
  flutter:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter:
  uses-material-design: true
